<div class="row">
<div class="small-0 large-2 columns">&nbsp;</div>

<div class="logo small-12 large-8 columns" style="padding: 0px; margin: 0px;">
<img src="/assets/images/fw_strava.png" />
<div class="logo-text">Rider KOMs from a <a href="/activities">curated</a> list of road segments in the Fort William area</div>
</div>

<div class="small-0 large-2 columns" />
</div>
{{outlet}}
