<div class="leaderboard-background" />
<row>
<div class="large-3 columns">&nbsp;</div>
<div class="large-6 columns">
<ul class="leaderboard-list">
  {{#each leaderboard as |rider|}}
   <li>
	<div class="leaderboard-entry">
	<img class="avatar" src="{{rider.athlete_profile}}" />
	<div class="rider-name">{{rider.name}}</div>
	{{rider.koms.length}}
 
   </div>
   </li>
  {{/each}}
</ul>
</div>
<div class="large-3 columns">&nbsp;</div>
</row>
