.logo {
	margin: 10px 10px 20px 10px;
	width: 100%;
	text-align: center;
}

.leaderboard-background {
	background-image: url('/assets/images/leaderboard_back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -99;
}

.leaderboard-list {
	background-color: rgba(0,0,0,0.60);

}

.leaderboard-entry {
	font-family: Helevetica; arial;
	font-size: large;
	color: white;
}


.avatar {
	-webkit-clip-path: circle(35px at center);
  	-moz-clip-path: circle(35px, 35px, 35px);
  	clip-path: circle(35px, 35px, 35px);
}

.avatar-holder {
	line-height: 124px;
}

/* handle unexpectedly long names */
.rider-name {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	line-height: 124px;
	text-align: center;
}


.rider-kom-count {
	line-height: 124px;
}

